.flex_design {
  display: flex;
}

body {
  position: absolute;
  height: auto;
  margin: 0;
  width: 100%;
  height: 100%;
  font-family: georgia;
  font-size: 10pt;
}

header {
  border: 2px;
  text-align: center;
  margin: 15px;
  line-height: 10vh;
  height: 10vh;
}

nav {
  border: 2px;
  margin: 15px;
  height: 58vh;
  width: 450px;
}

nav ul {
  margin-left: auto;
  margin-right: auto;
  padding: 10px 0px;
}

nav ul li {
  list-style: none;
  text-align: center;
  margin: 10px auto;
  list-style-position: inside;
  padding: 10px 0px;
}

a, .open {
    text-decoration: none;
    transition-duration: 0.4s;
}

.open {
  font-family: inherit;
  font-size: 1em;
  background: none;
  border: none;
  padding: 0;
}

main {
  border: 2px;
  padding: 10px;
  margin: 15px;
  overflow: auto;
  height: 55vh;
  min-width: 300px;
  width: 100%;
}

.link {
  display: inline block;
  margin: 2px;
  padding: 5px;
  line-height: 250%;
}

main section img {
  width: 60%;
  margin-top: 20px;
  margin-bottom: 0px;
}

#imgWrap {
  overflow: hidden;
  width: 100%;
}

#Img {
  border: 2px;
  padding: 10px;
  margin: 15px;
  background-repeat: no-repeat;
  background-position: left center; 
  background-size: cover;
  height: 55vh;
}

footer {
  border: 2px;
  margin: 15px;
  height: 10vh;
  display: flex;
}

footer p {
  width: 50%;
  line-height: 10vh;
  margin: 0;  
  margin-left: 15px;
}

footer h5 {
  width: 50%;
  line-height: 10vh;
  padding-right: 20px;
  text-align: right;
  margin: 0;
}

#frogBtn {
  cursor: url('/cursors/frog/link1.png'), auto;
  -webkit-animation: froglink 400ms infinite;
  animation: froglink 400ms infinite;
  transition-duration: 0.2s;
}

#frogBtn:hover {
  background: linear-gradient(to right, #0ecca2, #0dbab1);
  color: black;
}

@-webkit-keyframes froglink {
  0% {cursor: url('cursors/frog/link1.png'), auto;}
  20% {cursor: url('cursors/frog/link2.png'), auto;}
  40% {cursor: url('cursors/frog/link3.png'), auto;}
  60% {cursor: url('cursors/frog/link4.png'), auto;}
  80% {cursor: url('cursors/frog/link5.png'), auto;}
  100% {cursor: url('cursors/frog/link6.png'), auto;}
} 

@keyframes froglink {
  0% {cursor: url('cursors/frog/link1.png'), auto;}
  20% {cursor: url('cursors/frog/link2.png'), auto;}
  40% {cursor: url('cursors/frog/link3.png'), auto;}
  60% {cursor: url('cursors/frog/link4.png'), auto;}
  80% {cursor: url('cursors/frog/link5.png'), auto;}
  100% {cursor: url('cursors/frog/link6.png'), auto;}
}

#sheepBtn {
  cursor: url('../cursors/sheep/sheplink.png'), auto;
  -webkit-animation: sheplink 400ms infinite;
  animation: sheplink 400ms infinite;
}

#sheepBtn:hover {
  background: rgba(255, 255, 255, 0.8);
  color: #c0808a;
  box-shadow: 0 0 20px white;
  transition-duration: 0.2s;
}

@-webkit-keyframes sheplink {
  0% {cursor: url('cursors/sheep/sheplink.png'), auto;}
  20% {cursor: url('cursors/sheep/sheplink1.png'), auto;}
  40% {cursor: url('cursors/sheep/sheplink2.png'), auto;}
  60% {cursor: url('cursors/sheep/sheplink3.png'), auto;}
  80% {cursor: url('cursors/sheep/sheplink4.png'), auto;}
  100% {cursor: url('cursors/sheep/sheplink5.png'), auto;}
} 

@keyframes sheplink {
  0% {cursor: url('cursors/sheep/sheplink.png'), auto;}
  20% {cursor: url('cursors/sheep/sheplink1.png'), auto;}
  40% {cursor: url('cursors/sheep/sheplink2.png'), auto;}
  60% {cursor: url('cursors/sheep/sheplink3.png'), auto;}
  80% {cursor: url('cursors/sheep/sheplink4.png'), auto;}
  100% {cursor: url('cursors/sheep/sheplink5.png'), auto;}
}

#jellyfishBtn {
  cursor: url('../cursors/jellyfish/jellyLink.png'), auto;
  -webkit-animation: jellylink 400ms infinite;
  animation: jellylink 400ms infinite;
}

#jellyfishBtn:hover {
  background: #010f51;
  border: 1px solid #24a1f2;
  box-shadow: 0 0 2px #034b9b;
  color: #24a1f2;
  transition-duration: 0.2s;
}

@-webkit-keyframes jellylink {
  0% {cursor: url('../cursors/jellyfish/jellyLink.png'), auto;}
  20% {cursor: url('../cursors/jellyfish/jellyLink1.png'), auto;}
  40% {cursor: url('../cursors/jellyfish/jellyLink2.png'), auto;}
  60% {cursor: url('../cursors/jellyfish/jellyLink3.png'), auto;}
  80% {cursor: url('../cursors/jellyfish/jellyLink4.png'), auto;}
  100% {cursor: url('../cursors/jellyfish/jellyLink5.png'), auto;}
} 

@keyframes jellylink {
  0% {cursor: url('../cursors/jellyfish/jellyLink.png'), auto;}
  20% {cursor: url('../cursors/jellyfish/jellyLink1.png'), auto;}
  40% {cursor: url('../cursors/jellyfish/jellyLink2.png'), auto;}
  60% {cursor: url('../cursors/jellyfish/jellyLink3.png'), auto;}
  80% {cursor: url('../cursors/jellyfish/jellyLink4.png'), auto;}
  100% {cursor: url('../cursors/jellyfish/jellyLink5.png'), auto;}
}

#snailBtn {
  cursor: url('../cursors/snail/snailLink.png'), auto;
  -webkit-animation: snaillink 400ms infinite;
  animation: snaillink 400ms infinite;
}

#snailBtn:hover {
  background: rgb(207 169 125);
  box-shadow: inset 0 0 5px white;
  color: #4a3820;
  transition-duration: 0.2s;
}

@-webkit-keyframes snaillink {
  0% {cursor: url('../cursors/snail/snailLink.png'), auto;}
  20% {cursor: url('../cursors/snail/snailLink1.png'), auto;}
  40% {cursor: url('../cursors/snail/snailLink2.png'), auto;}
  60% {cursor: url('../cursors/snail/snailLink3.png'), auto;}
  80% {cursor: url('../cursors/snail/snailLink4.png'), auto;}
  100% {cursor: url('../cursors/snail/snailLink5.png'), auto;}
} 

@keyframes snaillink {
  0% {cursor: url('../cursors/snail/snailLink.png'), auto;}
  20% {cursor: url('../cursors/snail/snailLink1.png'), auto;}
  40% {cursor: url('../cursors/snail/snailLink2.png'), auto;}
  60% {cursor: url('../cursors/snail/snailLink3.png'), auto;}
  80% {cursor: url('../cursors/snail/snailLink4.png'), auto;}
  100% {cursor: url('../cursors/snail/snailLink5.png'), auto;}
}

/*phone styling*/
@media only screen and (orientation: portrait) {
  .flex_design {
    display: block;
    overflow: hidden;
    margin: 0 15px;
  }
  
  body {
    height: auto;
  }

  header, footer {
    margin: 0 15px;
  }

  header, footer, nav, main {
    font-size: 30pt;
  }

  nav, main, #imgWrap, #Img {
    margin: 40px 0;
  }
  
  nav {
    overflow-y: visible;
    width: 100%;
  }

  nav ul {
    width: 100%;
    text-align: center;
    line-height: 50px;
    padding-top: 20px;
  }
  
  nav ul li {
    display: inline;
    margin: 30px;
  }

  main {
    padding: 10px 10px 30px 50px;
  }

  header, nav, #imgWrap, #Img {
    height: 150px;
    line-height: 150px;
  }

  #Img {
    padding: 0px;
    margin: 0px;
  }

  footer {
    margin-bottom: 50px;
    display: block;
    height: 200px;
  }
  
  footer h5, footer p {
    padding-top: 50px;
    line-height: 20px;
    width: 100%;
    text-align: center;
  }
}

