.flex_design, .flexPhone {
  display: flex;
}

header {
  border: 2px;
  text-align: center;
  margin: 15px;
  padding: 10px;
  height: 10vh;
}

nav {
  border: 2px;
  width: 150px;
  margin: 15px;
  height: 58vh;
}

nav ul {
  width: 150px;
  margin-left: auto;
  margin-right: auto;
  padding: 10px 0px;
}

nav ul li {
  width: 100px;
  list-style: none;
  text-align: center;
  margin: 10px auto;
  list-style-position: inside;
  padding: 10px 0px;
}

a {
    text-decoration: none;
    transition-duration: 0.4s;
}

main {
  border: 2px;
  padding: 10px;
  margin: 15px;
  overflow: auto; 
  height: 55vh;
}

.link {
  display: inline block;
  margin: 2px;
  padding: 5px;
  line-height: 250%;
}

main section img {
  width: 80%;
  margin-top: 20px;
  margin-bottom: 0px;
}

#Img {
  border: 2px;
  padding: 10px;
  margin: 15px;
  background-repeat: no-repeat;
  background-position: left center; 
  width: 60%;
  background-size: cover;
  height: 55vh;
}

footer {
  border: 2px;
  text-align: right;
  padding: 10px;
  margin: 15px;
  height: 10vh;
}


@media (max-width:50em){
  .flex_design {
    display: block;
    width: 100%;
    overflow: hidden;
  }

  nav {
    width: 40%;
    height: 55vh;
  }

  main {
    width: 60%;
    height: 52vh;
  }

  header, footer {
    height: 8vh;
    padding: 0px 10px;
    line-height: 8vh;
  }

  #Img {
  border: 2px;
  padding: 0px;
  height: 10vh;
  width: 100%;
  overflow: hidden;
  }
}

