.flex_design {
  display: flex;
}

header {
  border: 2px;
  text-align: center;
  margin: 15px;
  line-height: 10vh;
  height: 10vh;
}

nav {
  border: 2px;
  margin: 15px;
  height: 58vh;
  overflow-x: visible;
  width: 450px;
  overflow-y: auto;
}

nav ul {
  width: 150px;
  margin-left: auto;
  margin-right: auto;
  padding: 10px 0px;
}

nav ul li {
  width: 100px;
  list-style: none;
  text-align: center;
  margin: 10px auto;
  list-style-position: inside;
  padding: 10px 0px;
}

a {
    text-decoration: none;
    transition-duration: 0.4s;
}

main {
  border: 2px;
  padding: 10px;
  margin: 15px;
  overflow: auto;
  height: 55vh;
  min-width: 300px;
  width: 100%;
}

.link {
  display: inline block;
  margin: 2px;
  padding: 5px;
  line-height: 250%;
}

main section img {
  width: 60%;
  margin-top: 20px;
  margin-bottom: 0px;
}

#imgWrap {
  overflow: hidden;
  width: 100%;
}

#Img {
  border: 2px;
  padding: 10px;
  margin: 15px;
  background-repeat: no-repeat;
  background-position: left center; 
  background-size: cover;
  height: 55vh;
}

footer {
  border: 2px;
  text-align: right;
  line-height: 10vh;
  margin: 15px;
  height: 10vh;
  padding-right: 20px;
}

/*phone styling*/
@media only screen and (orientation: portrait) {
  .flex_design {
    display: block;
    overflow: hidden;
    margin: 0 15px;
  }
  
  header, footer {
    margin: 0 15px;
  }

  header, footer, nav, main {
    font-size: 40px;
  }

  nav, main, #imgWrap, #Img {
    margin: 40px 0;
  }
  
  nav {
    overflow-y: visible;
    width: 100%;
  }

  nav ul {
    width: 100%;
    text-align: center;
    line-height: 50px;
    padding-top: 20px;
  }
  
  nav ul li {
    display: inline;
    margin: 30px;
  }

  main {
    padding: 10px 10px 30px 50px;
  }

  header, footer, nav, #imgWrap, #Img {
    height: 150px;
    line-height: 150px;
  }

  #Img {
    padding: 0px;
    margin: 0px;
  }

  footer {
    margin-bottom: 50px;
  }
  
  footer h5 {
    margin-top: 0;
  }
}

