body {
  background-color: #0a958e;
}

header, main, #Img, footer {
  background: linear-gradient(to right, #0ecca2, #0dbab1);
}

nav {
  background-color: #0ecca2;
}

a:link {
    color: white;
}

a:visited {
    color: lightblue;
}

a:hover {
    color: black;
}

#Img {
  background-image: url(https://cdn.pixabay.com/photo/2014/11/21/17/27/frog-540812_960_720.jpg);
}

//cursors
* {
  cursor: url('https://github.com/undercovernyan/nyancom/blob/main/cursors/frog/01NormalSelect.ani?raw=true'), auto;
}

p, h1, h2, h3, h4, h5 {
  cursor: url('https://github.com/undercovernyan/nyancom/blob/main/cursors/frog/06Text.ani?raw=true'), auto;
}

a {
  cursor: url('https://github.com/undercovernyan/nyancom/blob/main/cursors/frog/15LinkSelect.ani?raw=true'), auto;
}
