body {
  background: linear-gradient(to bottom, #00000a, #010f51);
}

header, main, nav, #Img, footer {
  background: rgb(2 150 241 / 10%);
  border: 1px solid #ffffff;
}

a:link {
    color: white;
}

a:visited {
    color: lightblue;
}

a:hover {
    color: black;
}

.link {
  border: 1px solid white;
  color: white;
}

.link:visited {
  color: white;
}

.link:hover {
  background-color: white;
  color: #0276be;
}

#Img {
  background-image: url(https://www.ecomagazine.com/images/Newsletter/0_2020/Week_1-27-20/marat-gilyadzinov-MYadhrkenNg-unsplash.jpg);
  background-position: right;
}

/*mobile formatting*/
@media only screen and (orientation: portrait) {

/*cursors*/
@-webkit-keyframes cursor {
  0% {cursor: url('../cursors/frog/select1.png'), auto;}
  100% {cursor: url('../cursors/frog/select2.png'), auto;}
} 

@keyframes cursor {
  0% {cursor: url('../cursors/frog/select1.png'), auto;}
  100% {cursor: url('../cursors/frog/select2.png'), auto;}
}

html {
  cursor: url('../cursors/frog/select1.png'), auto;
  -webkit-animation: cursor 400ms infinite;
  animation: cursor 400ms infinite;
}

@-webkit-keyframes link {
  0% {cursor: url('../cursors/frog/link1.png'), auto;}
  20% {cursor: url('../cursors/frog/link2.png'), auto;}
  40% {cursor: url('../cursors/frog/link3.png'), auto;}
  60% {cursor: url('../cursors/frog/link4.png'), auto;}
  80% {cursor: url('../cursors/frog/link5.png'), auto;}
  100% {cursor: url('../cursors/frog/link6.png'), auto;}
} 

@keyframes link {
  0% {cursor: url('../cursors/frog/link1.png'), auto;}
  20% {cursor: url('../cursors/frog/link2.png'), auto;}
  40% {cursor: url('../cursors/frog/link3.png'), auto;}
  60% {cursor: url('../cursors/frog/link4.png'), auto;}
  80% {cursor: url('../cursors/frog/link5.png'), auto;}
  100% {cursor: url('../cursors/frog/link6.png'), auto;}
}

a {
  cursor: url('../cursors/frog/link1.png'), auto;
  -webkit-animation: link 400ms infinite;
  animation: link 400ms infinite;
}
