html {
  background-color: #00000a;
  height: 100%;
}

body {
  background-color: #00000a;
  background: linear-gradient(to bottom, #00000a, #010f51);
  color: #24a1f2;
  background-attachment: fixed;
}

header, main, nav, #Img, footer {
  background: rgb(2 150 241 / 10%);
  border: 1px solid #24a1f2;
  box-shadow: 0 0 20px #034b9b;
  border-radius: 5px;
}

header h2 {
  margin: 0;
}

a:link {
    color: #99e3f5;
}

a:visited {
    color: #01a7f5;
}

a:hover {
    color: #ffffff;
}

.link {
  border: 1px solid #99e3f5;
  color: #99e3f5;
}

.link:visited {
  color: #99e3f5;
}

.link:hover {
  background-color: #99e3f5;
  color: #010f51;
}

#Img {
  background-image: url(https://www.ecomagazine.com/images/Newsletter/0_2020/Week_1-27-20/marat-gilyadzinov-MYadhrkenNg-unsplash.jpg);
  background-position: center;
  background-size: auto 100%;
}

/*mobile formatting*/
@media only screen and (orientation: portrait) {
  #Img {
    background-size: 100% auto;
  }
  header {
    margin-top: 20px;
  }
  main, nav {
    width: auto;
  }
  nav ul {
    margin: 0px;
  }
}

/*cursors*/
@-webkit-keyframes cursor {
  0% {cursor: url('../cursors/jellyfish/jelly.png'), auto;}
  100% {cursor: url('../cursors/jellyfish/jelly1.png'), auto;}
} 

@keyframes cursor {
  0% {cursor: url('../cursors/jellyfish/jelly.png'), auto;}
  100% {cursor: url('../cursors/jellyfish/jelly1.png'), auto;}
}

html {
  cursor: url('../cursors/jellyfish/jelly.png'), auto;
  -webkit-animation: cursor 1.5s infinite;
  animation: cursor 1.5s infinite;
}

@-webkit-keyframes link {
  0% {cursor: url('../cursors/jellyfish/jellyLink.png'), auto;}
  20% {cursor: url('../cursors/jellyfish/jellyLink1.png'), auto;}
  40% {cursor: url('../cursors/jellyfish/jellyLink2.png'), auto;}
  60% {cursor: url('../cursors/jellyfish/jellyLink3.png'), auto;}
  80% {cursor: url('../cursors/jellyfish/jellyLink4.png'), auto;}
  100% {cursor: url('../cursors/jellyfish/jellyLink5.png'), auto;}
} 

@keyframes link {
  0% {cursor: url('../cursors/jellyfish/jellyLink.png'), auto;}
  20% {cursor: url('../cursors/jellyfish/jellyLink1.png'), auto;}
  40% {cursor: url('../cursors/jellyfish/jellyLink2.png'), auto;}
  60% {cursor: url('../cursors/jellyfish/jellyLink3.png'), auto;}
  80% {cursor: url('../cursors/jellyfish/jellyLink4.png'), auto;}
  100% {cursor: url('../cursors/jellyfish/jellyLink5.png'), auto;}
}

a {
  cursor: url('../cursors/jellyfish/jellyLink.png'), auto;
  -webkit-animation: link 400ms infinite;
  animation: link 400ms infinite;
}
