html {
  background-color: #9F9F9F;
}

body {
  background-image: url(https://image.freepik.com/free-photo/abstract-background-cement-wall-shadow-light-concept_53876-30241.jpg);
  background-position: center;
  background-size: cover; 
  background-attachment: fixed; 
}

header, nav, main, #Img, footer {
  background: linear-gradient(to right, rgb(122 91 67 / 60%), rgb(207 169 125 / 60%));
  color: #4a3820;
  box-shadow: inset 0 0 5px white;
}

a:link, .open {
    color: #5d6600;
}

a:visited {
    color: #768e54;
}

.link {
  border: 1px solid #5d6600;
  color: #5d6600;
}

.link:visited, nav ul li a:visited {
  color: #5d6600;
}

.link:hover {
  background-color: #5d6600;
  color: #a68a71;
}

a:hover, .open:hover, nav ul li a:hover {
    color: #570029;
}

#Img {
  background-image: url(https://images.unsplash.com/photo-1598588414774-4bb069dbc05d);
  background-position: 80% 70%;
  background-size: cover;
}

/*mobile formatting*/
@media only screen and (orientation: portrait) {
  main, nav {
    width: auto;
  }
}

/*cursors*/
@-webkit-keyframes cursor {
  0% {cursor: url('../cursors/snail/snail.png'), auto;}
  100% {cursor: url('../cursors/snail/snail1.png'), auto;}
} 

@keyframes cursor {
  0% {cursor: url('../cursors/snail/snail.png'), auto;}
  100% {cursor: url('../cursors/snail/snail1.png'), auto;}
}

html {
  cursor: url('../cursors/snail/snail.png'), auto;
  -webkit-animation: cursor 400ms infinite;
  animation: cursor 400ms infinite;
}

@-webkit-keyframes link {
  0% {cursor: url('../cursors/snail/snailLink.png'), auto;}
  20% {cursor: url('../cursors/snail/snailLink1.png'), auto;}
  40% {cursor: url('../cursors/snail/snailLink2.png'), auto;}
  60% {cursor: url('../cursors/snail/snailLink3.png'), auto;}
  80% {cursor: url('../cursors/snail/snailLink4.png'), auto;}
  100% {cursor: url('../cursors/snail/snailLink5.png'), auto;}
} 

@keyframes link {
  0% {cursor: url('../cursors/snail/snailLink.png'), auto;}
  20% {cursor: url('../cursors/snail/snailLink1.png'), auto;}
  40% {cursor: url('../cursors/snail/snailLink2.png'), auto;}
  60% {cursor: url('../cursors/snail/snailLink3.png'), auto;}
  80% {cursor: url('../cursors/snail/snailLink4.png'), auto;}
  100% {cursor: url('../cursors/snail/snailLink5.png'), auto;}
}

a, .open {
  cursor: url('../cursors/snail/snailLink.png'), auto;
  -webkit-animation: link 400ms infinite;
  animation: link 400ms infinite;
}
